<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
        $( document ).ready(function() {
            $("#gijon").toggleClass( "active" );
        });</script>
    <script>
        $( document ).ready(function() {
            $("#cuatro").toggleClass( "active" );
        });</script>
    <title></title>
</head>
<body>
{% include "navbar.html" %}
{% include "tituloPagina.html" %}
{% include "menuGijon.html" %}

<section>
        <iframe width="620" height="515" src="https://charts.qlikcloud.com/56cddbdc30c3c11100b1aae1/chart.html" frameborder="0"></iframe>

        <iframe width="620" height="515" src="https://charts.qlikcloud.com/56cddbdc30c3c11100b1aae1/chart.html" frameborder="0"></iframe>

        <iframe width="620" height="515" src="https://charts.qlikcloud.com/56cddbdc30c3c11100b1aae1/chart.html" frameborder="0"></iframe>

        <iframe width="620" height="515" src="https://charts.qlikcloud.com/56cddbdc30c3c11100b1aae1/chart.html" frameborder="0"></iframe>
</section>
</body>
</html>