
      <h3><i class="glyphicon"></i>Dimensión</h3>
      <hr>

      <ul class="nav nav-pills nav-stacked">
        <li id="tiempoGastos"><a href="/gijon/gastos/tiempo/">Año</a></li>
        <li id="economico"><a href="/gijon/gastos/economico/"><i class="glyphicon"></i>Economico</a></li>
        <li id="capitulo"><a href="/gijon/gastos/capitulo/"><i class="glyphicon"></i>Capitulo</a></li>
        <li id="funcional"><a href="/gijon/gastos/funcional/"><i class="glyphicon"></i>Funcional</a></li>
        <li id="articulo"><a href="/gijon/gastos/articulo/"><i class="glyphicon"></i>Articulo</a></li>
        <li id="partida"><a href="/gijon/gastos/partida/"><i class="glyphicon"></i>Partida</a></li>
      </ul>

      <hr>
