<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script>$( document ).ready(function() {
            $("#gijon").toggleClass( "active" );
            $("#gastos").toggleClass( "active" );
            $("#capitulo").toggleClass( "active" );
        });</script>
    <title></title>
</head>
<body>
{% include "navbar.html" %}
{% include "menuGijon.html" %}
<section>
    <div class="col-md-2">
{% include "menuLateralGijonGastos.html" %}
        </div>
<div class="col-md-10">
<iframe width=100% height="515" src="https://charts.qlikcloud.com/56d18fa2f6dc0f1000095f5c/chart.html" frameborder="0"></iframe>
</div>
</section>
</body>
</html>